# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Executable Builds
build/
dist/
*.manifest
*.spec
*.exe
*.zip
*.tar.gz

# Environments
.env
.venv
env/
venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
